.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.exerciseCard {
  border-style:double;
  margin-left: 30%;
  margin-right: 30%;
  gap: 10px;
}

.exerciseCard p{
  margin-top: 20px;
  margin-bottom: 10px;
}

.trackerLogContainer{
  border-style: double;
  margin-top: 10%;
  margin-left: 30%;
  margin-right: 30%;
}

.trackerLog{
  border-style:ridge;
  border-width: 10px;
}

.trackerLog p{
  margin-top: 10px;
  margin-bottom: 10px;
}

