.App {
  text-align: center;
  background: #AEFFD8;
  background-image: linear-gradient(#ffffff ,#AEFFD8, #8AFFC1 );
  padding:0;
  margin: 0;
  height: 100%;
}

.appHeader {
  background-color: #AC8887;
  min-height: 10vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content:flex-start;
  font-size: calc(10px + 2vmin);
  color: #8FDC97;
}

/* Link Text for NavBar */

.homeLink {
  color: #9F4A54;
}

.exercisesLink{
color: #9F4A54;
}

.trackerLink{
color: #9F4A54;
}

.logoutLink{
color: #9F4A54;
}

.loginLink{
color: #9F4A54;
}

.signupLink{
color: #9F4A54;
}

.homePage {
  flex-wrap: wrap;
  font-family:cursive;
}

.homeFooter{
  border-style:solid;
  border-color: #9F4A54;
  border-width: 3.5px;
}

.homePage img{
  flex-flow: column wrap;
  /* align-items: center; */
  justify-content: flex-end;
  /* margin: 15px; */
  padding: auto;
    width: 25%;
    height: 200px;
    border-radius: 15px;
    
}


/* Login Page */


/* Exercise Cards */
.exerciseCard {
  border-style: solid;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 10px;
  justify-content: center;
  align-content: space-between;
}

.exerciseCard img{
  height: auto;
  width: 200px;
}

.exerciseCard p{
  margin-top: 20px;
  margin-bottom: 10px;
}

.trackerLogContainer{
  border-style: groove;
  margin-top: 10%;
  margin-left: 30%;
  margin-right: 30%;
  padding: 10px;
}

.submitForm{
  
}

.trackerLogContainer img{
  width: 400px;
  height: 300px;
}

.trackerLog{
  border-style:ridge;
  border-width: 10px;
  border-radius: 2%;
  border-color:#AC8887;
}

.trackerLog p{
  margin-top: 10px;
  margin-bottom: 10px;
}

